body{
    width: 100%;
}

/* .resume-button{
  padding: 18px 24px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.resume-button:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 2px gray;
} */

/* .hero-section{
  background: url("https://images.unsplash.com/photo-1480380799266-582d808d748a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY0fHxiYWNrZ3JvdW5kJTIwaW1hZ2UlMjBmb3IlMjBwb3J0Zm9saW98ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
.btn{
  padding: 15px 25px;
}

.service-type-logo{
    margin: 10px 0;
}

.service-type-content-container{
    padding: 10px;
}

.contact-link{
    padding-right: 10px;
    margin: 5px;
    text-decoration: none;
    font-size: large;
}

:root{
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f98d00;
    --color-4: #e83611;
    --color-5: #f1b211;
}

.heading-text{
    font-family: sans-serif;
    font-weight: 900;
    width: max-content;
    color: transparent;
    /* text-shadow: 0 0 0 #333; */
    background: linear-gradient(
        220deg,
        var(--color-1) 19%,
        transparent 19%, transparent 20%,
        var(--color-2) 20%, var(--color-2) 39%,
        transparent 39%,transparent 40%,
        var(--color-3) 40%, var(--color-3) 59%,
        transparent 59%, transparent 60%,
        var(--color-4) 60%, var(--color-4) 79%,
        transparent 79%, transparent 80%,
        var(--color-5) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
      
}

@media screen and (max-width: 768px) {
  .heading-text{
    width: min-content;
    font-size: 10vw;
  }
}

.navbar-text-name{
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: 'Barlow Condensed' , sans-serif;   
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

.qualification-list-container {
  font-size: 2rem; 
  font-weight: 700; 
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #f7f7f7, #e0e0e0);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.qualification-list-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  background: linear-gradient(135deg, #e0e0e0, #f7f7f7); 
}

.skills-list {
  list-style: none;
  padding: 0;
  justify-content: center;
}

.skills-list li {
  background-color: #f0f0f0; 
  color: #333; 
  font-weight: 600; 
  font-size: 1.1rem;
  padding: 10px 20px;
  margin: 5px; 
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skills-list li:hover {
  background-color: #007bff; 
  color: #fff; 
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.project-container{
  height: auto;
  overflow: hidden;
}
.productProfile img {
  transition: transform 0.3s ease-in-out;
}

.project-description-content{
  z-index: 999;
}
.productProfile:hover img {
  transform: scaleX(1.1);
  z-index: -1;
}

.view-project-arrow{
  transition: transform 0.3s ease-in-out;
}

.view-project-arrow:hover{
  transform: scale(-1.1);
}

